# Python
__pycache__/
*.py[cod]
*$py.class

.vscode/

# faiss
*.faiss
*.pkl

# Ignore .env file containing sensitive keys
.env
.claude/
.gradio/
# Log
hs_err*.log


CLAUDE.md

# 강의 PDF
PDF/
data_resources/
# team project
team_sub_project/
z_Term_proj/