# Python
__pycache__/
*.py[cod]
*$py.class

# faiss
*.faiss
*.pkl

# Ignore .env file containing sensitive keys
.env
.claude/

# Log
hs_err*.log


CLAUDE.md

# 강의 PDF
PDF/

# team project
team_sub_project/